<ion-content [fullscreen]="true">
  <ion-split-pane when="md" contentId="main">
    <ion-menu contentId="main">
      <ion-header>
        <ion-toolbar color="medium">
          <ion-title>Filials</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-list>
          @for (filial of filials(); track $index) {
          <ion-item type="button" button (click)="OnFilialClick(filial.ref)">
            <ion-label
              [color]="filial.ref === selectedFilial() ? 'tertiary' : 'dark'"
            >
              {{filial.name}}</ion-label
            >
          </ion-item>
          } @empty {
          <ion-item>
            <ion-spinner name="dots" slot="start"></ion-spinner>
            <ion-label>getting data</ion-label>
          </ion-item>
          }
        </ion-list>
      </ion-content>
    </ion-menu>

    <div class="ion-page" id="main">
      <ion-header>
        <ion-toolbar>
          <ion-title>
            @if(selectedFilial(); as filial) { Files from
            <ion-text color="tertiary"> {{filial?.name}} </ion-text>
            } @else {
            <ion-text> Select filial from list </ion-text>
            }
          </ion-title>
          <ion-avatar
            style="height: 54px; width: 54px"
            class="ion-margin-start ion-margin-end"
            slot="start"
          >
            <img alt="Logo" src="assets/icon/crazy.jpeg" />
          </ion-avatar>

          <ion-title slot="end">
            Loged in as
            <ion-note color="medium"> {{ auth.User?.user?.email}} </ion-note>
          </ion-title>

          <ion-buttons slot="end">
            <ion-button color="medium" (click)="SignOut()">
              Sign out
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding" [fullscreen]="true">
        @if (filialFiles(); as items) {
        <ion-list>
          <ion-item type="button" button (click)="OnParentFolderClick()">
            <ion-icon
              slot="start"
              color="tertiary"
              name="folder-open-outline"
            ></ion-icon>
            <ion-label color="tertiary"> {{ parentFolder()?.name }}</ion-label>
            <ion-note color="tertiary" slot="start"> click to go up </ion-note>
          </ion-item>

          @for (itemFolder of items?.prefixes; track $index) {
          <ion-item
            type="button"
            button
            (click)="OnFolderItemClick(itemFolder)"
          >
            <ion-icon slot="start" name="folder-outline"></ion-icon>
            <ion-label> {{itemFolder.name}}</ion-label>
            <ion-note slot="start" color="medium">
              click to see content
            </ion-note>
          </ion-item>
          } @for (itemFile of items?.items; track $index) {
          <ion-item button>
            <ion-icon
              type="button"
              button
              (click)="OnFileItemClick(itemFile)"
              slot="start"
              name="cloud-download-outline"
            ></ion-icon>
            <ion-label type="button" button (click)="OnFileItemClick(itemFile)">
              {{itemFile.name}}</ion-label
            >
            <ion-note
              type="button"
              button
              (click)="OnFileItemClick(itemFile)"
              slot="start"
              color="medium"
            >
              click to download
            </ion-note>
            <ion-checkbox
              #el
              slot="end"
              [checked]="isFileChecked(itemFile)"
              (ionChange)="OnItemCheck(itemFile,!el.checked)"
            ></ion-checkbox>
          </ion-item>
          }
        </ion-list>

        <ion-modal [isOpen]="!!loadUrl()">
          <ng-template>
            <ion-card class="ion-no-margin" color="success">
              <ion-card-header>
                <ion-card-title>Your file is ready</ion-card-title>
              </ion-card-header>
              <ion-button
                class="no-shadow ion-float-right ion-margin-start ion-margin-end"
                color="success"
                (click)="loadUrl.set(null)"
                >Close</ion-button
              >
              <ion-button
                class="no-shadow ion-float-right"
                color="success"
                [href]="loadUrl()"
                download=""
              >
                Get file
              </ion-button>
            </ion-card>
          </ng-template>
        </ion-modal>
        }
      </ion-content>
      <ion-footer>
        <ion-toolbar>
          <ion-title slot="start">
            Selected {{ itemFilesSelected.length }} files
          </ion-title>
          <ion-buttons slot="end">
            <ion-button
              id="confirm-delete-trigger"
              color="medium"

            >
              DELETE {{ itemFilesSelected.length }} FILES
            </ion-button>
            <ion-alert
              class="delete-files-alert"
              trigger="confirm-delete-trigger"
              header="Confirmation"
              subHeader="Selected files will be deleted"
              [buttons]="confirmDeleButtons"
            ></ion-alert>
          </ion-buttons>
        </ion-toolbar>
      </ion-footer>
    </div>
  </ion-split-pane>
</ion-content>
