<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-header >
    <ion-toolbar>
      <ion-title size="large">First</ion-title>
      <ion-buttons slot="start">
        <ion-button color="medium" router-direction="forward" [routerLink]="['/second']"  >go to second</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

    <!-- @if (fakeData){
    <ion-list>
    @for (item of fakeData; track $index) {
      <ion-item> {{item}} </ion-item>
    }
  </ion-list>
  } @else {
    <ion-title> Still no data </ion-title>
  } -->

</ion-content>
